<% include partials/header %>

<div class="container">

<h1><%= campground.name %></h1>
<img src="<%= campground.image %>">
<h2><%= campground.description %></h2>



<% campground.comments.forEach(function(comment){ %>
    <p><strong><%= comment.author %></strong> - <%= comment.text %></p>
<% }) %>



<a href="/campgrounds">Back 2</a>

</div>

<% include partials/footer %>